@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather Sans", sans-serif;
}
.userContainer {
  background-color: rgb(246, 248, 250);
}
.upIntroSection {
  display: flex;
  flex-direction: column;
  background-color: rgb(26, 30, 34);
  background-image: linear-gradient(rgb(26, 30, 34) 0%, rgb(36, 41, 46) 100%);
  color: rgb(246, 248, 250);
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem 7rem 1rem;
  position: relative;
}
img {
  width: 150px;
  height: 150px;
  border: 10px solid rgb(0, 112, 243);
  border-radius: 50%;
  margin-bottom: 1.5rem;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: rgb(246, 248, 250);
}
h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
a {
  text-decoration: none;
  color: rgb(0, 112, 243);
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(200, 225, 255);
}

li {
  padding: 1rem;
}

i {
  padding: 0.5rem;
}

@media screen and (max-width: 400px) {
  ul {
    flex-direction: column;
  }
  li {
    padding: 0rem;
  }
}

/* Stats  */

.stats {
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 150px));
  gap: 0.5rem;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.chartSection {
  margin-top: -3rem;
  padding-bottom: 5rem;
}
.top__repos {
  padding: 0 0 10rem 0;
}

h3 {
  font-weight: 900 !important;
}

.heading__topRepos {
  margin: 0;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1.75rem;
}
.underline-text {
  background-image: linear-gradient(
    90deg,
    rgb(209, 213, 218) 50%,
    rgba(255, 255, 255, 0) 0px
  );
  background-position: center bottom;
  background-repeat: repeat-x;
  background-size: 10px 2px;
  padding-bottom: 6px;
}
.dropdown {
  font-size: 14px;
  font-weight: 500;
  color: rgb(0, 112, 243);
  background-color: transparent;
  border: 1px solid rgba(0, 118, 255, 0.1);
  padding: 10px 7px;
  border-radius: 5px;
}
