.heading {
  display: inline-block;
  margin: 0px;
  font-size: 1.75rem;
  background-image: linear-gradient(
    90deg,
    rgb(209, 213, 218) 50%,
    rgba(255, 255, 255, 0) 0px
  );
  background-position: center bottom;
  background-repeat: repeat-x;
  background-size: 10px 2px;
  padding-bottom: 6px;
}
